@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  background-color:#DDE1D4;
  color: white;
  padding:15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 650px;
  width: 100%;
  height: 100vh;
  margin:0 auto;
}

header {
  display: grid;
  grid-template-columns: 155px 275px 220px;
  grid-column: span 3;
  height: 100px;
  margin-bottom: 15px;
}

header > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px;
  background-color: black;
  grid-column: span 1;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 200px 200px 160px;
  grid-gap: 15px;
  padding-bottom: 15px;
}

section > .left {
  display: flex;
  align-items: flex-end;
  padding-left: 5px;
  grid-column: span 2;
  grid-row: span 2;
  background-color: #f14011;
  font-size: 148pt;
  font-weight: 600;
  color: black;
}

section > .right {
  grid-column: span 1;
  grid-row: span 2;
  background-color: #f14011;
}

section > .bottom {
  grid-column: span 3;
  grid-row: span 2;
  background-color: #f14011;
}

.bottom > p:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 30px;
  font-size: 148pt;
  font-weight: 600;
  color: black;
}

.bottom > p:nth-child(n+2) {
  font-size: 26pt;
  padding-left: 15px;
}